@model Biblioteca.Models.Livro

@{
    ViewData["Title"] = "Exclur Livro";
}

<h1>Excluir</h1>

<h3>Você confirma que gostaria de Excluir permanentemente o Livro ?</h3>
<div>
    <h4>Livro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoPublicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoPublicacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sinopse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sinopse)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a prateleira</a>
    </form>
</div>
